@import 'tailwindcss';
@plugin 'daisyui';

input::-ms-reveal,
input::-ms-clear,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.editor-container .cm-editor {
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
}